.profileContainer {
  background-image: url("../../../src//image/line.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 100px;
  width: 100%;
  background-size: 95%;
  position: relative;
}
.left {
  margin-left: 28px;
}

.rank img {
  height: 25px;
  margin-top: 15px;
}

.flagCon {
  background-image: url("../../../src/image/country_flag_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  width: 16px;
  height: 20px;
  margin-top: 5px;
}

.flagCon img {
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}

.userPhoto {
  background-image: url("../../../src/image/image_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
  top: 0px;
  margin: auto;
  left: -80px;
  top: -56px;
  right: 0;
  bottom: 0;
}
.userPhoto img {
  width: 95%;
  height: 98%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.userInfoImg img {
  width: 35%;
  height: 45%;
  position: absolute;
  left: 65px;
  top: -20px;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}

/* user info  */
/* .userInfoImg img {
  height: 100%;
  width: 100%;
  padding-top: 120px;
  margin-left: -100px;
} */

/* hives btn  */
/* .hivesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
}
.hivesContainer h1 {
  font-size: 70px;
  font-weight: bolder;
  color: whitesmoke;
  margin: 0;
}
.hivesContainer h2 {
  font-weight: bolder;
  color: #d99446;
  font-size: 60px;
  padding: 30px;
}
.hiveBtns {
  background-image: url("../../../src//image/coin_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: contain;
  margin-left: 70px;
  margin-top: 10px;
} */
