.home {
  /* max-height: 100%; */
  background-image: url("../../../src//image/Background.png");

  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  border: 3px solid #ffeb8a;
  margin: 0px 30px;
  border-radius: 10px;
}

/* Responsive  */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .main {
    border: 5px solid #ffeb8a;
    margin: 0px 30px;
    border-radius: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
